*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Kalnia:wght@200;300&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,300;1,100&family=Space+Grotesk:wght@600&display=swap');


:root{
    --font-family: 'Space Grotesk', sans-serif;
    --white:white;
    --font-weight:700;
    
}




/*header*/

.text-menu h2{ 
    display: flex;
    font-size: 25px;
    font-family: var(--font-family);
    align-items: center;
    color: white;

}


.navbar{
    background-color:#CA2659;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   height: 100px;
}


.oferta{
    display: flex;
    justify-content: space-around;
}

#number{
    margin-left: 2rem;
    border-radius: 16px;
    background: #F2F2F2;

    width: 100px;
    padding: 15px;

    font-family: var(--font-family);
}






/*Home*/

.home{
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(112deg, rgba(0,0,0,1) 0%, rgba(10,40,103,1) 98%);
    display: flex;
}

.text-home{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    width: 50%;

    color: white;
    font-family: var(--font-family);
  
    
    
}


.text-home h2 {
    font-size: 29px;
    line-height: 48px; 
    font-family: var(--font-family) sans-serif;
    margin-bottom: 30px;
}


.text-home p { 
    font-size: 15px;
    margin-bottom:10px;
}

span{
    color:#049DD9;
}



/* button */
.btn-compra{
    color: white;
    font-family: var(--font-family);
    padding: 15px 175.9px 15px 176.1px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 28px;
    background: linear-gradient(87deg, #103E9E 0%, #049DD9 33.33%, #103E9E 66.67%, #049DD9 100%);
}

/*Footer*/